body {
    margin: 0;
    padding: 0;
    background-color: rgb(78, 84, 84);
    color: cornsilk;
}
header {
    display: flex; 
    justify-content: center;
    width: 80%;
    margin: auto;
    
    border: cornsilk solid 1px;
    border-radius: 10px;
    height: 140px;
    background-color: black;
    align-items: stretch;
}

h1{ 
    margin: auto;   
    font-family: 'Tangerine', cursive;
    font-size: 90px;
    justify-content: center;
    display: flex; 
}
@media only screen and (max-width: 700px) {
    header {
        height: 100px;
    }
    h1 {
        font-size: 70px;
    }
}
@media only screen and (max-width: 550px) {
    header {
        height: 80px;
    }
    h1 {
        font-size: 50px;
    }
}
@media only screen and (max-width: 375px) {
    header {
        height: 60px;
    }
    h1 {
        font-size: 40px;
    }
}

article { 
    width: 80%;
    margin: auto;
    padding: 20px;
    border: cornsilk solid 1px;
    border-radius: 10px;
    background-color: black;
}
table {
    width: 100%;
    color: cornsilk;
    font-family: 'Amatic SC';
    font-size: 1.2em;
    text-align: center;
}
table,td {
    border:  rgb(44, 46, 46) dotted;
    border-collapse: collapse;
}
h2 {
    color: cornsilk;
    font-family: 'Amatic SC';
    font-size: xx-large;
    text-decoration: none;
    text-align: center;
}
h3 {
    color: cornsilk;
    font-family: 'Amatic SC';
    font-size: x-large;
    text-decoration: none;
    text-align: center;
}
p {
    color: cornsilk;
    font-family: sans-serif;
    /* font-size: xx-large;
    text-decoration: none; */
}
img {
    display: block;
    margin: auto;
    border: cornsilk solid 2px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.flex-container{
    display: flex; 
    justify-content: center;
}
.flex-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.flex-container ul li{
    display: flex;
    list-style: none;
    justify-content: center;
}
.flex-container button{
    border: cornsilk solid 2px;
    border-radius: 10%;
    background-color: black;
    width: 200px;
    margin: 10px;
}
.flex-container a {
    color: cornsilk;
    font-family: 'Amatic SC';
    font-size: xx-large;
    text-decoration: none;
}
.flex-container img {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    width: auto;
    height: auto;
    border-radius: 25%;
}
footer {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: cornsilk solid 1px;
    border-radius: 10px;
    background-color: black;
}