body {
    margin: 0;
    padding: 0;
    background-color: rgb(78, 84, 84);
    color: cornsilk;
    font-family: sans-serif;
}
header, nav, article, footer {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border: cornsilk solid 1px;
    border-radius: 10px;
    background-color: black;
}
article, footer { 
    padding: 10px;
}
header, footer {
    justify-content: center;
}
header {
    height: 5%; 
}

h1{ 
    margin: auto;   
    font-family: 'Tangerine', cursive;
    font-size: 5em;
    justify-content: center;
    display: flex; 
}
@media only screen and (min-width: 1000px) {
    #education, #workExp {
        width: 50%;
       float: left;
       margin-bottom: 20px;
    }
    #volunteering {
        clear: both;
    }
   
}
 @media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
    }
}
@media only screen and (max-width: 360px) {
    h1 {
        font-size: 2em;
    }
} 
h2 {
    font-family: 'Amatic SC';
    font-size: 2em;
    text-decoration: none;
    text-align: center;
}

h3 {
    font-family: sans-serif;
    text-decoration: none;
}

table {
    width: 80%;
    margin: auto;
    color: cornsilk;
    font-family: 'Amatic SC';
    font-size: 1.2em;
    text-align: center;
}

table,td {
    border:  rgb(44, 46, 46) dotted;
    border-collapse: collapse;
}

img {
    display: block;
    margin: auto;
    border: cornsilk solid 2px;
    border-radius: 50%;
}

.flex-container{
    display: flex; 
    justify-content: center;
}
.flex-container ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
.flex-container ul li {
    flex-grow: 1;
    list-style: none;
}   
.flex-container button{
    margin: 5px;
    border: cornsilk solid 2px;
    border-radius: 10%;
    background-color: rgb(38, 39, 41);
}
.flex-container ul li button:hover {
    background-color: cornsilk;
}
.flex-container a {
    color: cornsilk;
    font-family: 'Amatic SC';
    font-size: 2em;
    text-decoration: none;
}
.flex-container a:hover {
    color: black;
}

.flex-container img {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    border-radius: 25%;
}
i {
    font-size: 5ex;
    font-weight: lighter;
}